<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel
        </title>
        {{{_sections.head}}}
    </head>
    <body>
        {{{body}}}
        <script src='//code.jquery.com/jquery-2.0.2.min.js'></script>
        {{!notice that both of these section views are from the same view, but injected at different points depending on their section}}
        {{{_sections.jquery}}}
    </body>
</html>